body{

}

.navbar{

}

.header{

}

.blueBtn{
   height: 100px;
   width: 500px;
   background-color: #072AC8;
   color: white;
}

.photo-projects{
   height: 150px;
   width: 200px;
}

.logos{
   filter: grayscale(100%);
}
.blue-square{
   width: 1000px; 
   height: 1000px;
   background-color: #292E47;
}

.yellow-square{
   width: 1000px; 
   height: 400px;
   background-color: #FFC600;
}

.principal-Photo{
   height: 400px;
   width: 400px;
}