@import url('https://www.dafont.com/heading.font');

html,
body{
   margin: 0 auto;
   padding: 0;
   text-align: center;
   background-color: #F5F7FA;
}
*{
   font-family: 'Heading', sans-serif; 
   max-width: 1200px;
}

.nav-bar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 30px;
   background-color: #F5F7FA;
   margin-top: 10px;
   
}
.nav-bar img{
   height: 18px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #072ac8;
  }
.link-ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%; 
}
.blue-text {
    color: #072ac8;
    font-weight: bold;
    padding: 20px;
}

.grey-text {
    color: grey;
    font-weight: bold;
    padding: 20px;
}
   
.nav-button{
   height: 47px;
   width: 148px;
   background-color:#072AC8;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 1hpx;
}
.nav-button a:hover{
   color:#ffc600;
}
.blueBtn{
   text-decoration: none;
   color: white;
   font-size: 0.9em;
   padding: 10px 20px;
}
.burguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 40px;
    right: 11.5%;
    height: 30px;
    width: 50px;
 }
 .burguer-line {
    margin: 10px;
    height: 25px;
    width: 100px;
    background-color: grey;
    border-radius: 15%;
  }
 
  .hidden-nav {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 30%;
    position: absolute;
    right: 0%;
    top: -1500%;
    background: linear-gradient(
      to bottom,
      #A2D6F9 0%,
      #6B708D 100%
    );
  }
  
  .hidden-nav-active {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 30%;
    position: absolute;
    right: 0%;
    top: -5%;
    background: linear-gradient(
      to bottom,
      #A2D6F9 0%,
      #6B708D 100%
    );
  }
  
  .hidden-nav-active li {
    margin: 0 auto;
    margin-top: 120px;
    width: 50%;
    height: 40px;
    background-color: #072ac8;
    padding-top: 12%;
  }
  
  .hidden-nav-active a {
    text-decoration: none;
    color: white;
  }
  
  .hidden-nav-active a:hover {
    text-decoration: none;
    color: #ffc600;
 
  }
 

.contact-section{
    margin: 0 auto;
    width: 90%;
    padding-top: 25px;
}
.contact-title{
    font-size: 50px;
    font-weight: 700;
    color: #292e47;
    text-align: left;
}
.contact-form{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.contact-form label{
    color: grey; 
}

#name {
    width: 100%;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    height: 60px;
    margin-block-start: 10px;
    padding-left: 10px;
 }

 .contact-details {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
  
.contact-details label {
    color: grey;
}
  
.email{
    width: 100%;
    margin-top: 10px;
    text-align: left;
}

#email {
    width: 95%;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    height: 60px;
    margin-block-start: 10px;
    padding-left: 10px;
}
.phone{
    width: 100%;
    margin-top: 10px;
    text-align: left;
}
#phone{
    width: 100%;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    height: 60px;
    margin-block-start: 10px;
    padding-left: 10px;
}
.message{
    width: 100%;
    margin-top: 10px;
    text-align: left;
}
.message label{
    color: grey;
}

#message{
    width: 100%;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
    height: 60px;
    margin-block-start: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

#submit-btn{
    width: 101%;
    padding: 0;
    margin-top: 30px;
    height: 60px;
    border: none;
    background-color: #072ac8;
    color: white;
    letter-spacing: 0.05cap;
    font-weight: normal;
}

#submit-btn:hover {
    color: #ffc600;
}

.footer{
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 100px;
 }
 
 .footer-text {
    text-align: left;
  }
  
  .footer img {
    padding-bottom: 30px;
  }
  
  .footer address {
    font-style: normal;
  }
 
 .footer-links {
    width: 50%;
 }
  .footer-ul{
    padding: 0;
    margin: 0 auto;
    height: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding-left: 50px;
  }
  .footer li{
    width: 33%;
  }
  .footer a{
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .footer ul a:hover {
    text-decoration: underline;
    color: #072ac8;
    font-size: 17px;
  }

@media (min-width: 900px) and (max-width: 1200px) {

  #logo {
    position: absolute;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 30px;
 }
 .link-ul {
    display: none;
  }
 
  #nav-button{
    position: absolute;
    left: 40%;
    background-color: #072ac8;
    height: 50px;
    width: 90px;
    font-size: 24px;
    margin-top:30px;
 }
 
 .burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 30px;
    right: 8%;
    height: 35px;
    width: 55px;
 }
 .burguer-line {
    margin: 0 auto;
    height: 5px;
    width: 30px;
    background-color: #072ac8;
    border-radius: 15%;
 }
}